<header *ngIf="this.service.menuPrincipal">
  <nav class="navbar navbar-expand-lg" style="background-color:#fded00">
    <div class="container-fluid">
      <a class="navbar-brand logo-font" [routerLink]="['/']"><img src="assets/images/logo.png" class="class-item-img" alt=""></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <form class="d-flex m-auto form" role="search">
          <input class=" m-2 inp" type="search" placeholder="Busque por um livro ou autor" aria-label="Search" name="search" [(ngModel)]="search">
          <button class="bt" type="submit"><i class="fa-solid fa-magnifying-glass ic" (click)="this.buscar()"></i></button>
        </form>
      </div>
    </div>
  </nav>
  <section class="barraCategoria">
    <ul>
      <li><a [routerLink]="['/livros']">todos</a></li>
      <li *ngFor="let c of service.categoria"><a [routerLink]="['/livros', c.nm_categoria]">{{c.nm_categoria}}</a></li>
    </ul>
</section>
</header>

<nav *ngIf="this.service.menuAutor" class="navbar navbar-expand-lg navAutor" style="background-color:#fded00">
  <div class="container-fluid">
    <a class="navbar-brand logo-font" [routerLink]="['/painel']"><img src="assets/images/logo.png" class="class-item-img2" alt=""></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0 listaAutor">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/painel']">Livros</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/perfil']">Perfil</a>
        </li>
        <li class="nav-item">
          <button class="nav-link sair" (click)="logout()">Sair</button>
        </li>
        
      </ul>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>