/* .logo-font {
    font-family: 'Yellowtail', cursive;
    font-size: 1.5rem;
} */

*:not(i) {
    font-family: 'Helvetica';
}

.class-item-img {
    width: 150px;
    height: 50px;
}   

.class-item-img2 {
    width: 120px;
    height: 50px;
}  

.navAutor {
    padding: 0;
}

.form {
    width: 70%;
}

.container-fluid {
    width: 90%;
}

.inp {
    outline:0;
    width:90%;
    padding:5px 5px 5px 10px;
    border-radius:12px;
    border:none;
}

.bt {
    display: flex;
    align-items: center;
    border:none;
    background: none;
}

.ic {
    font-size: 1.5rem;
}

.barraCategoria {
    background-color: #ffd700;
    display: flex;
    justify-content: center;
}

.barraCategoria ul {
    display: flex;
    background-color:#ffd700;
    margin: 0px;
    flex-wrap: wrap;
    justify-content: center;
}

.barraCategoria ul li{
    list-style: none;
    padding: 8px;
    background-color:#ffd700;
}

.barraCategoria ul li a {
    color: black;
    cursor: pointer;
    background-color:#ffd700;
    text-decoration: none;
    font-weight: 700;
}

.listaAutor li a, button {
    color: black;
    font-weight: 500;
}

.sair {
    background: none;
    border: none;
}