<main>
    <div class="topo2">
        <div class="tituloPagina"><h1>Meus livros</h1></div>
        <div class="btnCadastro"><button id="btnCadastro1" (click)="show()"><i class="fa-solid fa-circle-plus"></i>Cadastrar</button></div>
    </div>

    <form *ngIf="isVisible" id="formulario" enctype="multipart/form-data">
        <section class="base df dc">
            <div class="df jst">
                <div class="df dc width1">
                    <div class="container">
                        <div class="input-file-upload">
                            <div class="upload-btn">
                                <div class="foto">
                                    <button class="btn">Selecionar imagem</button>
                                    <input type="file" name="upfile" (change)="selectImage($event)" required>
                                    <img *ngIf="this.images" src="http://localhost:3000/uploads/{{this.images.name}}">
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>

                <div class="df dc width2">
                    <label for="nm_categoria">Nome do livro</label>
                    <input type="text" name="nm_livro" id="nm_livro" [(ngModel)]="nm_livro"  required>
                    
                    <label for="ds_livro">Descrição do livro</label>
                    <input type="text" name="ds_livro" id="ds_livro" [(ngModel)]="ds_livro" required>
                    
                    <label for="cd_categoria">Categoria do livro</label>
                    <select name="categoriaS" id="categoriaS" (change)="changeSelect($event)">
                        <option *ngFor="let c of this.service.categoria" [value]="c.cd_categoria">{{c.nm_categoria}}</option>
                    </select>

                    <label for="dt_lancamento">Data de lançamento</label>
                    <input type="date" name="dt_lancamento" id="dt_lancamento" [(ngModel)]="dt_lancamento" required>
                </div>
            </div>
            
            <input type="submit" class="btn_confirmar" value="Confirmar" (click)="this.cadastroLivro()">
            <div id="resultado"></div>
            

        </section>
    </form>

    <div class="containerLivros">
        <div *ngFor="let l of this.service.livroAutor" class='livro'>
           
            <img src="http://localhost:3000/uploads/{{l.cd_img_livro}}" class="class-item-img" alt="">
            
            <section>
                <div class='tituloLivro'><span>
                    {{l.nm_livro}}
                </span></div>
                <div class='btns'>
                    <div class="editar"><a [routerLink]="['/editar', l.cd_livro]">Editar</a></div>
                    <div class="lixeira"><button class="btn_lixeira" (click)="service.deleteLivro(l.cd_livro, this.id)">Excluir</button></div>
                </div>
            </section>
        </div>
    </div>
</main>
