h1 {
    color: black;
    font-size: 1.8rem;
    margin-left: 3em;
}

main {
    margin: 20px;
}

.containerLivros {
    display: flex;
    max-width: 100%;
    justify-content: center;
    flex-wrap: wrap;
}

.livro {
    width: calc(1000px - 5);
    width: 200px;
    display: flex;
    margin: 10px;
    flex-direction: column;
}

.class-item-img {
    width: 100%;
    height: 290px;
    background-size: contain;
    background-repeat: no-repeat;

}

.tituloLivro {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    
}

.tituloLivro a{
    color: black;
    font-size: 1.2rem;
    text-decoration: none;
}

.autorLivro a{
    color: black;
    font-size: 1rem;
    text-decoration: none;
}   

.btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lixeira button{
    background-color:  rgb(235, 13, 13);
    font-size: 16px;
    color: white;
    
}

.btn_lixeira {
    background: none;
    border: none;
    display: flex;
}

.editar a {
    padding: 3px;
    text-decoration: none;
    font-size: 16px;
    color: white;
    background-color: rgb(228, 127, 13);
}

.inp {
    outline:0;
    width:500px;
    padding:5px 5px 5px 10px;
    border-radius:12px;
    border:none
}

.bt {
    display: flex;
    align-items: center;
    border:none;
    background: none;
}

.ic {
    font-size: 1.5rem;
}

.barraCategoria {
    background-color: #5a189a;
    display: flex;
    justify-content: center;
}

.barraCategoria ul {
    display: flex;
    background-color:#5a189a;
    margin: 0px;
}

.barraCategoria ul li{
    list-style: none;
    padding: 8px;
    background-color:#5a189a;
}

.barraCategoria ul li a {
    color: black;
    cursor: pointer;
    background-color:#5a189a;
    text-decoration: none;
    font-weight: bold;
}
.main {
    display: flex;
    flex-direction: column;
    position: relative;
    width: calc(100% - 250px);
    right: 0;
}

.tituloPagina h1 {
    color: #161616;
}

#formulario {
    width: 80%;
    margin: auto;
}

.geral {
    display: flex;
}

.topo2 {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.tituloPagina {
    margin-left: 20px;
    font-size: 1.3rem;
    color: #161616;
}

.btnCadastro {
    display: flex;
    justify-content: flex-end;
    margin-right: 30px
}

.topo2 button {
    padding: 10px 20px;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    background-color: #161616;
    color: #FFFFFF;
    border-radius: 10px;
    border: none;
    width: 160px;
    align-self: end;
}

.base{
    background-color: #161616;
    border-radius: 10px;
    margin: 30px;
    padding: 25px;
}

.base label{
    color: white;
    font-size: 1em;
    margin-top: 24px;
}

.base input, select{
    background-color: white;
    border-radius: 10px;
    border: none;
    padding: 10px;
}

.btn_confirmar{
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    background-color: white;
    color: #161616;
    border-radius: 10px;
    border: none;
    margin-top: 30px;
    width: 160px;
    align-self: end;
}

.topo2 button i {
    margin-right: 5px;
}

.df{
    display: flex;
}

.dc{
    flex-direction: column;
}

.jst{
    justify-content: space-evenly;
}

.width2{
    width: 65%;
}

.width1{
    width: 25%;
}


/*input file*/

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.input-file-upload {
    display: flex;
    flex-direction: column;
}

.upload-btn {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.btn {
    width: 100%;
    font-size: 19px;
    font-weight: 700;
    color: #161616;
    text-align: center;
    background-color: white;
    padding: 10px;

}

.upload-btn input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}

.upload_img {
    display: inline-block;
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: 50% 50%;
    vertical-align: middle;
    margin-top: 20px;
}

h1 {
    color: white;
    font-size: 1.8rem;
}


.ed {
    background-color: darkgoldenrod;
    color: white;
}

.ex {
    background-color: red;
    color: white;
}


.upload-btn {
    width: 100%;
    height: auto;
}



.foto img {
    margin-top: 10px;
    width: 100%;
    height: 250px;
}
